html, body {
  min-height:100vh;
}
body {
  margin:0;
  background-color: black;
  position: relative;
  overflow: hidden;
}
/*#lovecow {
  position: relative;
}*/
#lovecow nav {
  display: none;
}
#lovecow svg#player {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
